
input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
font-family: 'Roboto', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

/*-- //Reset-Code --*/
body {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
  .appointment-w3 {
    width: 42%;
    margin: 30px auto 30px;
    background-color: rgba(0, 0, 0, 0.79);
    padding: 40px 40px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.42);
}
h1{ }
h1.header-w3ls {
  text-align: center;
    font-size: 39px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    /* letter-spacing: 11px; */
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
    font-family: robot;
    /* height: 50px; */
}
.personal h2,.information h3,.education h3{font-size:30px;
                                          color:#fff;
										   text-align:center;
										   margin:.5em 0;
										   letter-spacing:3px;
										   }
 .personal h2{margin-top:0em;}
.form-right-w3ls
{float:right;
	padding-right:0px;}
.form-left-w3l{
float:left;
	padding-left:0px;}	

	.form-right-w3ls,.form-left-w3l{ width:48%;
  }

.form-left-w3l input[type="text"]
,.form-right-w3ls input[type="text"]
,.form-left-w3l input[type="email"]
,.form-control-w3l textarea,.form-right-w3ls  input[type="date"]
,.form-add-w3ls input[type="text"]{
    color: #000;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
	 margin: 5px 0px 16px;
    border-bottom: solid 2px #ffad00;
    -webkit-appearance: none;
    display: inline-block;
	    background: rgba(255, 255, 255, 0.39);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
	box-shadow:2px 3px rgba(0, 0, 0, 0.42);
}
/* select.form-control {
    outline: none;
    font-size: 1em;
    padding:0.8em 1em;
       width: 91%;
	height:45px;
    margin: 5px 0px 16px;
	border-radius:0;
     background: rgba(255, 255, 255, 0.39);
    color: #000;
    border: none;
	   border-bottom: solid 2px #ffad00;
	box-shadow:2px 3px rgba(0, 0, 0, 0.42);
	   transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
textarea{
    height: 134px;
    padding: 1em;
	overflow: hidden;
	resize:none;
}
.form-left-w3l p,.form-right-w3ls p,.form-control-w3l p,.form-add-w3ls p {
    color: #d49208;
    font-size: 18px;
    letter-spacing: .5px;
    text-transform: capitalize;
    font-family: robot;




}
/*.form-left-w3l input[type="text"]:hover, .form-left-w3l input[type="text"]:focus, .form-add-w3ls input[type="text"]:hover,.form-add-w3ls input[type="text"]:focus,.form-right-w3ls  input[type="text"]:hover,.form-right-w3ls  input[type="text"]:focus,.form-left-w3l input[type="email"]:hover
,.form-left-w3l input[type="email"]:focus, .form-control-w3l textarea:hover, .form-control-w3l textarea:focus, .form-right-w3ls select:hover, .form-right-w3ls select:focus, .form-left-w3l select:hover, .form-left-w3l select:focus{background:#ffffff;
color:#000;
outline:none;}
input[type="submit"] {
    text-transform: uppercase;
       background: #fff;
    color: #000000;
    padding: .7em 0em;
    border: none;
    font-size: 1em;
    outline: none;
        width: 96%;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 1em;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}*/
	
.copy{padding-bottom:30px;}
.copy p{
    margin:0em;
    text-align: center;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
}	
.copy p a{
	  color:#33e8ff;
	  text-decoration:none;
      }	 
.copy p a:hover{color:#fff;}
/*--responsive--*/
@media(max-width:1920px){
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 91.3%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 96%;
}
}
@media(max-width:1680px){
	.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 90.3%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
        width: 95.3%;
}
}
@media(max-width:1600px){
.form-left-w3l input[type="text"],.form-right-w3ls input[type="text"],.form-left-w3l input[type="email"]
,.form-right-w3ls  input[type="date"]{
	width:90%;
	}
.form-control-w3l textarea,.form-add-w3ls input[type="text"]{
	width:95%;
	}	
}
@media(max-width:1440px){
	.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 90.2%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 95.3%;
}
.appointment-w3 {
    width: 50%;
}	
}
@media(max-width:1366px){
	.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 91%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 95.8%;
}
.appointment-w3 {
    width: 57%;
}	
}
@media(max-width:1280px){
	.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 91.2%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 95.9%;
}
.appointment-w3 {
    width: 61%;
}	
}
@media(max-width:1080px){
	.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 89.5%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 95%;
}
h1.header-w3ls {
    font-size: 47px;
    letter-spacing: 7px;
}	
.appointment-w3 {
    width: 61%;
}
}
@media(max-width:1050px){
	.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 89.9%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 95.2%;
}
.appointment-w3 {
    width: 66%;
}	

}
@media(max-width:1024px){
.appointment-w3 {
    width: 70%;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 90.2%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 95.5%;
}	
}
@media(max-width:991px){
h1.header-w3ls {
    font-size: 45px;
    letter-spacing: 6px;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 90.2%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 95.2%;
}	
}
@media(max-width:900px){
.appointment-w3 {
    width: 73%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 95%;
}	
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 89.5%;
}
}
@media(max-width:800px){
h1.header-w3ls {
    font-size: 42px;
    letter-spacing: 4px;
}
.appointment-w3 {
    width: 75%;
}	
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 88.5%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 94.5%;
}
}
@media(max-width:768px){
.appointment-w3 {
    padding: 31px 31px;	
	width: 75%;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 88%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 94.2%;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-control-w3l textarea, .form-right-w3ls input[type="date"],.form-add-w3ls input[type="text"] {
    padding: .5em 1em;
}
select.form-control{
     height: 36px;
	   padding: .5em 1em;
}
.form-right-w3ls {
    padding-left:0em;
}
.form-left-w3l {
    padding-right: 0em;
}
}
@media(max-width:767px){
 .appointment-w3 {
	width: 80%;
}	
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 89%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 94.5%;
}
}
@media(max-width:736px){
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-control-w3l textarea, .form-right-w3ls input[type="date"] {
 
    margin: 5px 0px 11px;
}	
select.form-control {
	 
    margin: 5px 0px 11px;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 88%;
}
textarea {
    height: 115px;
}

}
@media(max-width:667px){
h1.header-w3ls {
    font-size: 38px;
    letter-spacing: 3px;
	    padding: 27px 10px 0px;
}	
.personal h2, .information h3, .education h3 {
    font-size: 28px;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 87%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 93.8%;
}
}
@media(max-width:640px){
.appointment-w3 {
    width: 85%;
}	
}
@media(max-width:600px){
h1.header-w3ls {
    font-size: 36px;
}
.appointment-w3 {
    padding: 26px 26px;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"] {
    width: 86.5%;
}
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 93.5%;
}	
}
@media(max-width:568px){
	.form-right-w3ls, .form-left-w3l{float:none;
	 width:100%;}
h1.header-w3ls {
    font-size: 32px;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"],
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 93%;
}
.personal h2, .information h3, .education h3 {
    font-size: 26px;
}
.appointment-w3 {
    width: 87%;
}
.copy p {
    padding: 0 9px;
    line-height: 31px;
}	
}
@media(max-width:480px){
h1.header-w3ls {
    font-size: 32px;
}
.personal h2, .information h3, .education h3 {
    font-size: 22px;
}
.form-left-w3l p, .form-right-w3ls p, .form-control-w3l p {
    font-size: 15px;
}
h1.header-w3ls {
	line-height:40px;
    padding: 27px 20px 0px;
}	
.appointment-w3 {
    width: 81%;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"],
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 91.2%;
}
.copy p {
    padding: 0px 16px;
}
}
@media(max-width:440px){
	h1.header-w3ls {
    font-size: 30px;
}
.appointment-w3 {
    width: 81%;
}
textarea {
    height: 109px;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"],
.form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 90.5%;
}
.copy p {
    padding: 0px 20px;
}
}
@media(max-width:414px){
	
	h1.header-w3ls {
    letter-spacing: 2px;
	}
	.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"], .form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 89.5%;
}
}
@media(max-width:384px){
h1.header-w3ls {
    letter-spacing: 1px;
}
.education h3 {
    font-size: 19px;
}	
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"], .form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 89%;
}
	.appointment-w3 {
    width: 75%;
}
}
@media(max-width:375px){
	.appointment-w3 {
    width: 75%;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"], .form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 88%;
}	
}
@media(max-width:320px){
.personal h2, .information h3, .education h3 {
    font-size: 17px;
	    letter-spacing: 2px;

}	
.form-left-w3l p, .form-right-w3ls p, .form-control-w3l p {
    font-size: 13px;
}
h1.header-w3ls {
    font-size: 25px;
}
.form-left-w3l input[type="text"], .form-right-w3ls input[type="text"], .form-left-w3l input[type="email"], .form-right-w3ls input[type="date"], .form-control-w3l textarea, .form-add-w3ls input[type="text"] {
    width: 86%;
}
}
/*--//responsive--*/



 .tooltp {
    position: absolute;
    background: pink;
    border-bottom: 
    float: right;
    width: 0px;
    right: 60px;
   padding: 10px 0px;
margin: -5px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    overflow: hidden;
  }
.lnk_usr:hover .tooltp{
  overflow: hidden;
display: block;
right: 60px;
width: 100px;
}

.app_img
{

background-image: url("images/bg.jpg") no-repeat 0px 0px;

    }



/* admin sidebar */


@import "https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://daneden.github.io/animate.css/animate.min.css";
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
  /* background-color: #583e7e;*/
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
      top: 171px;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  padding-top: 70px;
  width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:first-child a {
  background-color: #1a1a1a;
  color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #402d5c;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #4c366d;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #583e7e;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #64468f;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #704fa0;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #7c5aae;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #8a6cb6;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #987dbf;
}
.sidebar-nav li:hover:before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
      background: black;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color:#000000;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #fff;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #fff;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #fff;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#fff;
      z-index: -1;
}


.top {
    border: solid 2px #f4f4f4;
}

.bs-form
{
  border: solid 2px #dadada;
    padding: 20px;
}

.title h1
{
margin-bottom:40px;
font-family:robot;
}

.blue
{
  background:red;
}