
.navbar-default {
  
  border-color: #0d5285; 
  background:red;
}
.navbar-default .navbar-nav>li>a {
  color: #efefef;
}
.navbar-collapse {
  /*padding-top: 30px !important;*/
  max-height: 50px;

}


.an
{
   background-image: url(../images/bg.jpg);
}

/* notification in the header */


/* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
        width:22px;
        height:22px;
        line-height:22px;
        border-radius:50%;
        -moz-border-radius:50%; 
        -webkit-border-radius:50%;
        background:#FFF;
        margin:-3px 10px 0 10px;
        cursor:pointer;
        margin: 15px 10px 0 10px;
    }
        
    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
        margin: 12px 0 0 25px;
        border-radius:2px;
        -moz-border-radius:2px; 
        -webkit-border-radius:2px;
        z-index:1;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:430px;
        position:absolute;
        top:30px;
        left:0;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 0;
    }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:10px;
    }
        

 











/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.cover-photo img.cover-image-lg{
    z-index: 0;
   


        width: 1200px;
    margin-bottom: 10px;
    height: 350px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}





.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 180px;
    height: 180px;
    border: 8px solid rgba(255, 255, 255, 0.7);
  
        position: absolute;
  
    left: 96px;
        
        z-index:0;
        bottom:132px;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  /* position: absolute;
      top: 555px;
    right: 355px; */
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
      position: absolute;
    left: 267px;
    bottom: 22px;

    display: inline-block;
   
    cursor: pointer;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;

}
   
.p-image1 {
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    position: absolute;
    left: 29px;
  
    display: inline-block;
    cursor: pointer;

        bottom: 310px;
}

.cover_shadow
{
        background: #ffffff;
    box-shadow: 0.8px 3px 30px 0 rgba(0, 0, 0, 0.1);
}


   
.cover-photo-text{
   
    font-size:16px;
    font-family:robot;

}


/* tabs */



.board{
    width: 75%;
/* margin: 4px auto; */
height: 500px;
/* background: #fff;
box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
margin-left: 15px;
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    /* margin: 40px auto; */
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    /* background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png); */
    background-size: 30%;
   margin-top: -30px;
    
        margin-left: -13px !important;
            margin-right: 45px !important;
            box-shadow: 0px 0px 2px 2px #e0e0e0;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    /* background: #ddd; */
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    /* position: absolute; */
    left: 0;
    text-align: center;
    font-size: 25px;

width: 45px;
    height: 45px;
    line-height: 41px;


}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
        color: #a70f02;
    border: 2px solid #900500;
   
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

span.round-tabs.six{
        color: #a70f02;
    border: 2px solid #900500;
    color: #1f727b;
    border: 2px solid #007790;
}

li.active span.round-tabs.six{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}






.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}

/*.nav-tabs > li {
        width: 10%;

}
*/
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
    margin-left: -34px !important;
}
.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}



.photo-section
{
    
    background: #ffffff;
    box-shadow: 0.8px 3px 30px 0 rgba(0, 0, 0, 0.1);
    margin-top: 10px;
} 


.photo-section1
{
    
   
    margin-top: 10px;
} 
.photos
{
    
}

.title
{
        
            width: 151px;
    margin: 0px 1px 0px -17px;
    padding: 13px;
    margin: 0px 1px 0px -12px;
    /* border: solid 2px; */
}

.title span
{
       font-size: 21px;
    margin: 0px 2px 2px 14px;
    font-family: robot;
}

/* timeline */




#new_status {
  background-color: #FFF;
    /* border-radius: 5px; */
    /* box-shadow: 1px 0 10px #AAA; */
    /* font-family: 'Helvetica Neaue', 'Helvetica', sans-serif; */
    /* margin-top: 1rem; */
    padding: 0;
}


#new_status1 {
    background-color: #FFF;
    /* border-radius: 5px; */
    /* box-shadow: 1px 0 10px #AAA; */
    /* font-family: 'Helvetica Neaue', 'Helvetica', sans-serif; */
    /* margin-top: 1rem; */
    padding: 0;
}







#post_header {
  border-bottom: solid #E8E8E8 1px;
  margin: 0 2%;
  padding: 0.65rem 0;
  width: 95.75%;
}
#post_header li {
  display: inline-block;
}
#post_header a {
  font-size: 1.2rem;
  padding: 1rem 0;
  text-decoration: none;
}
#post_header li+li {
  border-left: solid #E8E8E8 1px;
}
#post_header li:first-child a {
  padding: 0 1rem 0 0;
}
#post_header li:nth-child(2) a {
  padding: 0 1rem;
}
#post_header li:last-child a {
  padding: 0 0 0 1rem;
}
#post_header .glyphicon {
  margin-right: 0.5rem;
}

#post_content {
  margin: 0 2%;
  padding: 0;
  width: 95.75%;
}
#post_content img {
  border: solid #DDD 1px;
  margin: 1.25rem 0;
  padding: 0;
}
#post_content .textarea_wrap {
  cursor: text;
}
#post_content textarea {
  border: 0;
  margin: 0rem 0 0.5rem 0;
  outline: 0;
  /* padding: 2.5rem 0 0 1.25rem; */
  resize: none;
}

#post_footer {
  border-top: solid #E8E8E8 1px;
  line-height: 3rem;
  padding: 0 2% 0 3%;
}
#post_footer .navbar-nav {
  padding: 0;
}
#post_footer .navbar-nav li {
  display: inline-block;
}
#post_footer .navbar-nav a {
  display: block;
  padding: 2rem 1.25rem 2.2rem 1.25rem;
}
#post_footer .navbar-nav .glyphicon {
  line-height: 0;
}
#post_footer :not(.btn) .glyphicon {
  color: #999;
}
#post_footer div {
  padding: 0;
  text-align: right;
}
#post_footer .btn {
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin-top: 0.75rem;
  padding: 0 0.75rem;
  vertical-align: middle;
}
#post_footer .btn-default {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .btn-default .glyphicon {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .caret {
  color: #666;
  margin-left: 0.5rem;
}
#post_footer .btn-primary {
  background-color: #4e69a2;
  padding: 0 2rem;
}



/* status update */



.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}


/* photos */





ul#tabs {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0 0 0.3em 0;
}

ul#tabs li {
  display: inline;
}

ul#tabs li a {
  color: #42454a;
  background-color: #dedbde;
  border: 1px solid #c9c3ba;
  border-bottom: none;
  padding: 0.3em;
  text-decoration: none;
}

ul#tabs li a:hover {
  background-color: #f1f0ee;
}

ul#tabs li a.selected {
  color: #000;
  background-color: #f1f0ee;
  font-weight: bold;
  padding: 0.7em 0.3em 0.38em 0.3em;
}

div.tabContent {
  border: 1px solid #c9c3ba;
  padding: 0.5em;
  background-color: #f1f0ee;
  height: 309px;
}

div.tabContent.hide {
  display: none;
}




.friend-title
{
   float: left;
   margin:2px 3px 4px 2px;
}



.search {
  width: 100%;
  position: relative;

}

.searchTerm {
    float: left;
    width: 28%;
    border: 3px solid #00B4CC;
    padding: 6px;
    height: 33px;
    border-radius: 2px;
    outline: none;
    color: #9DBFAF;
    margin-left: 20px;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
    /* position: absolute; */
    /* right: -50px; */
    width: 51px;
    height: 32px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 17px;
}


/* about */

* {box-sizing: border-box}


/* Style the tab */
.about_tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
.about_tab button {
    display: block;
    background-color: inherit;
    color: black;
   padding: 6px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

        border: solid 1px #e6e2e2;
}

/* Change background color of buttons on hover */
.about_tab button:hover {


    
    background-color: #d0d0cf;

}

/* Create an active/current "tab button" class */
.about_tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.about_content {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}


/* photos tabs */




.photos-tabs-menu {
    height: 30px;
    float: left;
    clear: both;
        list-style-type: none;
}

.photos-tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.photos-tabs-menu li.current {
    /* position: relative; */
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.photos-tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
}

.photos-tabs-menu .current a {
    color: #2e7da3;
}

.photos-tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.photos-tab-content {
  width: 861px;

    padding: 20px;
    display: none;
}

#photos-tab-1 {
 display: block;   
}




/* photogallery */




.gal-container{
    padding: 12px;
}
.gal-item{
    overflow: hidden;
    padding: 3px;
}
.gal-item .box{
    height: 140px;
    overflow: hidden;
}
/* .box img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}
*/
.gal-item a:focus{
    outline: none;
}
.gal-item a:after{
    content:"\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
    opacity: 1;
}
.modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
    padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
    outline: none;
}
.modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
}
.gal-container .modal-dialogue{
    width: 80%;
}
.gal-container .description{
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
}
.gal-container .description h4{
    margin:0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}


/* videos */

.video-shadow
{



    border: 1px solid #d4d4d1;
    background-color: #fff;
    }



.profile {
      width: 100%;
    position: relative;
    background: #FFF;
    /* border: 1px solid #D5D5D5; */
    padding-bottom: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px 1px #e0e0e0;
}

.profile .image {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border: 5px solid #FFF;
}

.profile .user {
  position: relative;
  padding: 0px 5px 5px;
}

.profile .user .avatar {
  position: absolute;
  left: 302px;
  top: -85px;
  z-index: 2;
}

.profile .user h2 {
  font-size: 16px;
  line-height: 20px;
  display: block;
  float: left;
  margin: 4px 0px 0px 135px;
  font-weight: bold;
}

.profile .user .actions {
  float: right;
}

.profile .user .actions .btn {
  margin-bottom: 0px;
}

.profile .info {
 
      
   
        text-align: center;
    margin-top: 55px;

    font-family: robot;
    font-size: 17px;
    
    padding: 12px;
}

.img-profile{
    height:100px;
        width: 60%;
}

.img-cover{
       width: 844px;
    height:300px;
}

.top-bar1
{
 
  height: 59px;
border-top: solid 10px #ffad00;


}




.top1
{
 
height:31px;
  background:#ffad00;


}


.top2
{
  
 height:31px;
 background:#ffad00; 
  
  

}


.tp1
{
    

height:31px;
background:#ffad00; 
border-bottom-right-radius: 114%;
width: 60px;
margin-left: -15px;
}

.tp2
{
    
 border-bottom-left-radius: 114%;
height:31px;
background: #ffad00 ;
margin-left: 27px;
width: 72px;


}





.btn-vertical-slider{ margin-left:35px; cursor:pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}​








@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }


.nav-tabs > li {
        width: 15%;

}

.profile .user .avatar {
    position: absolute;
     left: 2px;
    top: -85px;
    z-index: 2;
}


.search-container
{
      margin-top: 40px;
    margin-left:1px;
}

.sbbtn
{
      margin-left: 1px;
          padding: 5px;

          margin-top: -2px;
    position: absolute;
    top: 2px;
    left: 202px;
}
.search-bt
{
  padding: 5px;
       width: 243px;
}


.main-header .header-top
{
  display:none;
}

.logo .an1 {
   margin-top: 21px;
}
.wrap .an2
{
  margin-top: -24px;
}

.search .an3
{
  margin-top: -24px;
}



}



@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}
             
.search-container
{
      margin-top: 40px;
    margin-left: 56px;
}

.sbbtn
{
      margin-left: -5px;
          padding: 5px;
}
.search-bt
{
  padding: 5px;
    width: 280px;
}



.ph
{
  color: #f1685e;
    font-size: 23px;
    border: solid 2px #f1685e;
    font-family: robot;
    font-size: 24px;
    /* border: solid 2px #3e5e9a; */
    padding: 2px;
    border-radius: 6px;
}

.ph1
{
  color: #3e5e9a;
    font-size: 24px;
    border: solid 2px #3e5e9a;
    padding: 2px;
    border-radius: 6px;
}


.ph2
{
  color: #3e5e9a;
    font-size: 24px;
    border: solid 2px #3e5e9a;
    padding: 2px;
    border-radius: 6px;
}

.logo
{
  margin-top: -52px;
}








.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;

border: 5px solid #be8611;
    padding: 5px;
    height: 43px;

}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 43px;
 
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #bd8511;
    background: #be8611;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    margin-top: 19px;
  
}


.left li
{
  list-style-type: none;
  float:left;
  padding-left:16px;
  color:#fff;
  font-family: robot;
  font-size:17px;
}

.scicon
{
  border: solid 2px #ffd376;
background: #b07d13;
padding-left:2px;
margin-left:2px;

}

.scicon1
{
  border: solid 2px #ffd376;
background: #b07d13;
padding:1px;

}

.scicon2
{
  border: solid 2px #ffd376;
background: #b07d13;

}



@media (max-width:768px)
{
    
.cover-photo-text>h1{
    font-weight: 700;
    font-size:16px;
    font-family:robot;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}
