/*   
 * Template Name: Atom - Responsive Website Template for Marketing Mobile Apps
 * Version: 1.5
 * Author: Xiaoying Riley at 3rd Wave Media
 * Website: http://themes.3rdwavemedia.com/
 * Twitter: @3rdwave_themes
*/
/* ======= Base ======= */
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #666;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 16px;
  line-height: 1.5;
}
a {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.5);
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: bold;
  color: #fff;
  background: none;
}
.btn .fa,
a.btn .fa {
  color: #fff;
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta,
.btn-cta {
  padding: 8px 32px;
}
a.btn-cta-primary,
.btn-cta-primary {
  border: 1px solid #fff;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  border: 1px solid #fff;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0;
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.7);
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.7);
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.7);
}
.form-control:focus {
  border-color: #e1e1e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.error {
  color: #E65348;
  font-weight: 500;
  text-align: left;
  padding-top: 5px;
  display: block;
  font-size: 14px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
.video-container iframe {
  max-width: 100%;
}
/* ======= fullpage.js ======= */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgba(0, 0, 0, 0.4);
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: rgba(0, 0, 0, 0.5);
}
/* ======= Section ======= */
.section {
  padding-top: 90px;
  padding-bottom: 30px;
}
.section.has-pattern {
  color: #fff;
}
.section.has-pattern .section-inner {
  position: relative;
}
.section.has-pattern .section-inner:before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  width: 100%;
  height: 360px;
 /* background: rgba(0, 0, 0, 0.1);*/
}
.section.has-pattern .section-inner .container {
  position: relative;
}
.section.has-pattern .section-inner .container .content .content-inner {
  min-height: 390px;
  max-width: 500px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 75px;
  padding-bottom: 45px;
}
.section.has-pattern .section-inner .container .content .pe-icon {
  margin-bottom: 15px;
  text-align: center;
}
.section.has-pattern .section-inner .container .content .title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 300;
}
.section.has-pattern .section-inner .container .content .testimonial {
  max-width: 500px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 60px;
}
.section.has-pattern .section-inner .container .content .testimonial .quote-container {
  color: rgba(0, 0, 0, 0.5);
}
.section.has-pattern .section-inner .container .content .testimonial .quote-container .fa {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  padding-top: 8px;
}
.section.has-pattern .section-inner .container .content .testimonial .quote-container .quote {
  font-size: 14px;
  border-left: none;
  position: relative;
  font-style: italic;
}
.section.has-pattern .section-inner .container .content .testimonial .quote-container .profile {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  border: 3px solid rgba(255, 255, 255, 0.9);
}
.section.has-pattern .section-inner .container .content .testimonial .quote-container .source {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
}
.section.has-pattern .section-inner .container .content .testimonial .quote-container .source span {
  display: block;
}
/* ======= Devices ======= */
.device-holder {
  position: relative;
  width: 370px;
  height: 680px;
  max-width: 100%;
  margin: 0 auto;
}
.device-holder.iphone-holder.iphone-gold-holder {
  background: url('../images/devices/iphone6-gold.png') no-repeat center top;
  background-size: contain;
}
.device-holder.iphone-holder.iphone-grey-holder {
  background: url('../images/devices/iphone6-grey.png') no-repeat center top;
  background-size: contain;
}
.device-holder.iphone-holder.offset-top {
  top: -38px;
}
.device-holder.iphone-holder .device-holder-inner {
  position: absolute;
  text-align: center;
  width: 274px;
  top: 67px;
  left: 42px;
}
.device-holder.iphone-holder .device-holder-inner img {
  margin: 0 auto;
  display: inline-block;
}
.device-holder.android-holder {
  background: url('../images/devices/android-black.png') no-repeat center top;
  background-size: contain;
}
.device-holder.android-holder.offset-top {
  top: -38px;
}
.device-holder.android-holder .device-holder-inner {
  position: absolute;
  text-align: center;
  width: 278px;
  top: 54px;
  left: 40px;
}
.device-holder.android-holder .device-holder-inner img {
  margin: 0 auto;
  display: inline-block;
}
.device-holder .phone {
  display: block;
}
/* ======= Gradients ======= */
.gradient-1 {
    background-image: -webkit-linear-gradient(110deg, #027362 10%, #2997ca 90%), url(../images/background/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #027362 10%, #2997ca 90%), url(../images/background/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #027362 10%, #2997ca 90%), url(../images/background/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #027362 10%, #2997ca 90%), url(../images/background/diamond_upholstery.png);
    background-image: -ms-linear-gradient(110deg, #027362 10%, #2997ca 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#31c8b1, endColorstr=#4ec7ff, GradientType=1);
    background-blend-mode: multiply;
    color: #fff;
}
.gradient-1.promo a {
  color: #01afff;
}
.gradient-1.promo a:hover {
  color: #009ee7;
}
.gradient-2 {
  background-image: -webkit-linear-gradient(110deg, #49C4A4 10%, #97b832 90%), url("../images/background/diamond_upholstery.png");
  background-image: -moz-linear-gradient(110deg, #49C4A4 10%, #97b832 90%), url("../images/background/diamond_upholstery.png");
  background-image: -o-linear-gradient(110deg, #49C4A4 10%, #97b832 90%), url("../images/background/diamond_upholstery.png");
  background-image: linear-gradient(110deg, #49C4A4 10%, #97b832 90%), url("../images/background/diamond_upholstery.png");
  background-image: -ms-linear-gradient(110deg, #49C4A4 10%, #97b832 90%);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#49C4A4, endColorstr=#97b832, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-blend-mode: multiply;
  color: #fff;
}
.gradient-3 {
  background-image: -webkit-linear-gradient(110deg, #38b6b8 10%, #d155ff 90%), url("../images/background/diamond_upholstery.png");
  background-image: -moz-linear-gradient(110deg, #38b6b8 10%, #d155ff 90%), url("../images/background/diamond_upholstery.png");
  background-image: -o-linear-gradient(110deg, #38b6b8 10%, #d155ff 90%), url("../images/background/diamond_upholstery.png");
  background-image: linear-gradient(110deg, #38b6b8 10%, #d155ff 90%), url("../images/background/diamond_upholstery.png");
  background-image: -ms-linear-gradient(left, #38b6b8, #d155ff);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#38b6b8, endColorstr=#d155ff, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-blend-mode: multiply;
  color: #fff;
}
.gradient-4 {
  background-image: -webkit-linear-gradient(110deg, #d4b548 10%, #ff577b 90%), url("../images/background/diamond_upholstery.png");
  background-image: -moz-linear-gradient(110deg, #d4b548 10%, #ff577b 90%), url("../images/background/diamond_upholstery.png");
  background-image: -o-linear-gradient(110deg, #d4b548 10%, #ff577b 90%), url("../images/background/diamond_upholstery.png");
  background-image: linear-gradient(110deg, #d4b548 10%, #ff577b 90%), url("../images/background/diamond_upholstery.png");
  background-image: -ms-linear-gradient(110deg, #d4b548 10%, #ff577b 90%);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d4b548, endColorstr=#ff577b, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-blend-mode: multiply;
  color: #fff;
}
.gradient-5 {
  background-image: -webkit-linear-gradient(110deg, #53c1d1 10%, #6370d7 90%), url("../images/background/diamond_upholstery.png");
  background-image: -moz-linear-gradient(110deg, #53c1d1 10%, #6370d7 90%), url("../images/background/diamond_upholstery.png");
  background-image: -o-linear-gradient(110deg, #53c1d1 10%, #6370d7 90%), url("../images/background/diamond_upholstery.png");
  background-image: linear-gradient(110deg, #53c1d1 10%, #6370d7 90%), url("../images/background/diamond_upholstery.png");
  background-image: -ms-linear-gradient(110deg, #53c1d1 10%, #6370d7 90%);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#53c1d1, endColorstr=#6370d7, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-blend-mode: multiply;
  color: #fff;
}
.gradient-6 {
  background-image: -webkit-linear-gradient(110deg, #e472dd 10%, #5b7ddf 90%), url("../images/background/diamond_upholstery.png");
  background-image: -moz-linear-gradient(110deg, #e472dd 10%, #5b7ddf 90%), url("../images/background/diamond_upholstery.png");
  background-image: -o-linear-gradient(110deg, #e472dd 10%, #5b7ddf 90%), url("../images/background/diamond_upholstery.png");
  background-image: linear-gradient(110deg, #e472dd 10%, #5b7ddf 90%), url("../images/background/diamond_upholstery.png");
  background-image: -ms-linear-gradient(110deg, #e472dd 10%, #5b7ddf 90%);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e472dd, endColorstr=#5b7ddf, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-blend-mode: multiply;
  color: #fff;
}
.gradient-7 {
  background-image: -webkit-linear-gradient(110deg, #42d3d8 10%, #3c69da 90%), url("../images/background/diamond_upholstery.png");
  background-image: -moz-linear-gradient(110deg, #42d3d8 10%, #3c69da 90%), url("../images/background/diamond_upholstery.png");
  background-image: -o-linear-gradient(110deg, #42d3d8 10%, #3c69da 90%), url("../images/background/diamond_upholstery.png");
  background-image: linear-gradient(110deg, #42d3d8 10%, #3c69da 90%), url("../images/background/diamond_upholstery.png");
  background-image: -ms-linear-gradient(110deg, #42d3d8 10%, #3c69da 90%);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#42d3d8, endColorstr=#3c69da, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-blend-mode: multiply;
  color: #fff;
}
.gradient-8 {
  background-image: -webkit-linear-gradient(110deg, #da59a5 10%, #754fa5 90%), url("../images/background/diamond_upholstery.png");
  background-image: -moz-linear-gradient(110deg, #da59a5 10%, #754fa5 90%), url("../images/background/diamond_upholstery.png");
  background-image: -o-linear-gradient(110deg, #da59a5 10%, #754fa5 90%), url("../images/background/diamond_upholstery.png");
  background-image: linear-gradient(110deg, #da59a5 10%, #754fa5 90%), url("../images/background/diamond_upholstery.png");
  background-image: -ms-linear-gradient(110deg, #da59a5 10%, #754fa5 90%);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#da59a5, endColorstr=#754fa5, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-blend-mode: multiply;
  color: #fff;
}
.gradient-9 {
  background-image: -webkit-linear-gradient(110deg, #83C658 10%, #4FAA4E 90%), url("../images/background/diamond_upholstery.png");
  background-image: -moz-linear-gradient(110deg, #83C658 10%, #4FAA4E 90%), url("../images/background/diamond_upholstery.png");
  background-image: -o-linear-gradient(110deg, #83C658 10%, #4FAA4E 90%), url("../images/background/diamond_upholstery.png");
  background-image: linear-gradient(110deg, #83C658 10%, #4FAA4E 90%), url("../images/background/diamond_upholstery.png");
  background-image: -ms-linear-gradient(110deg, #83C658 10%, #4FAA4E 90%);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#83C658, endColorstr=#4FAA4E, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-blend-mode: multiply;
  color: #fff;
}
/* ======= Nav ======== */
.navmenu {
  z-index: -10;
  background: #233039;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-left: 0;
  padding-top: 30px;
  border-width: 0 0 0 0;
}
.navmenu .nav-item {
  padding: 10px 15px;
  text-align: center;
  margin-bottom: 1px;
  text-transform: uppercase;
  font-size: 14px;
}
.navmenu .nav-item a {
  color: rgba(255, 255, 255, 0.4);
  display: block;
}
.navmenu .nav-item a:hover {
  text-decoration: none;
}
.navmenu .nav-item.active a {
  color: #fff;
}
.navmenu .nav-item:hover {
  background: #2d3d49;
  cursor: pointer;
}
.navmenu .nav-item:hover a {
  color: #fff;
}
.navmenu .nav-item.dropdown.open {
  background: #2d3d49;
}
.navmenu .nav-item.dropdown.open .dropdown-toggle {
  margin-bottom: 10px;
}
.navmenu .nav-item.dropdown .dropdown-toggle .fa {
  margin-left: 10px;
}
.navmenu .nav-item.dropdown .dropdown-menu {
  z-index: auto;
  position: static;
  background: #2d3d49;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: none;
  min-width: inherit;
  text-align: center;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  text-transform: none;
}
.navmenu .nav-item.dropdown .dropdown-menu li a {
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 0;
}
.navmenu .nav-item.dropdown .dropdown-menu li a:hover,
.navmenu .nav-item.dropdown .dropdown-menu li a:focus {
  color: #fff;
  background: #364b59;
}
.navmenu .social-icons {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 45px;
}
.navmenu .social-icons li {
  margin-right: 0;
}
.navmenu .social-icons li.last {
  margin-right: 0;
}
.navmenu .social-icons li a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
}
.navmenu .social-icons li a:hover {
  color: #fff;
}
.navmenu .social-icons .fa {
  font-size: 22px;
}
.navmenu .download-buttons {
  margin-bottom: 30px;
}
.navmenu .download-buttons li {
  margin-bottom: 15px;
}
.navmenu .download-buttons a {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  width: 120px;
  text-align: left;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navmenu .download-buttons a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
}
.navmenu,
.navbar-offcanvas {
  width: 240px;
}
/* ====== Canvas ====== */
.canvas-wrapper {
  position: relative;
  left: 0;
  z-index: 20;
  min-height: 100%;
}
/* ======= Header ======= */
.header {
  height: 60px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header.header-change .social-container {
  display: none;
}
.header .container {
  position: relative;
}
.header a {
  color: #fff;
}
.header .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-top: 15px;
  position: relative;
  z-index: 10;
  display: inline-block;
}
.header .logo a {
  text-decoration: none;
}
.header .social-container {
  position: absolute;
  top: 0;
  width: 100%;
  top: 20px;
  left: 0;
}
.header .social-container .social-icons {
  margin-left: 0;
}
.header .social-container .social-icons li {
  margin-right: 5px;
}
.header .social-container .social-icons li.last {
  margin-right: 0;
}
.header .social-container .social-icons li a {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.header .social-container .social-icons li a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.header .social-container .social-icons .fa {
  font-size: 20px;
}
.header .navbar-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
}
.header .navbar-wrapper .navbar-label {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 14px;
  position: relative;
  top: 4px;
  float: left;
}
.header .navbar-wrapper:hover .navbar-label {
  color: #fff;
}
.header .navbar-wrapper:hover button .icon-bar {
  background: #fff;
}
.header .navbar-wrapper .navbar-toggle {
  display: block;
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: -5px;
}
.header .navbar-wrapper button {
  background: none;
  color: #fff !important;
  margin: 0;
}
.header .navbar-wrapper button:focus {
  outline: none;
}
.header .navbar-wrapper button .icon-bar {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
  height: 3px;
}
.header .navbar-wrapper button .icon-bar + .icon-bar {
  margin-top: 5px;
}
/* ======= Promo section ======= */
@keyframes arrow-animation {
  from {
    top: 0px;
  }
  to {
    top: -10px;
  }
}
@-webkit-keyframes arrow-animation {
  from {
    top: 0px;
  }
  to {
    top: -10px;
  }
}
@-moz-keyframes arrow-animation {
  from {
    top: 0px;
  }
  to {
    top: -10px;
  }
}
@-o-keyframes arrow-animation {
  from {
    top: 0px;
  }
  to {
    top: -10px;
  }
}
.promo .arrow-holder {
  position: relative;
  z-index: 10;
  top: -90px;
}
.promo .arrow-holder a {
  color: #fff;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.promo .arrow-holder a:hover {
  text-decoration: none;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  color: #fff;
}
.promo .arrow-holder .lead-text {
  font-size: 14px;
}
.promo .arrow-holder .animate {
  position: relative;
  top: 0px;
  animation: arrow-animation 750ms ease-in-out infinite alternate;
  -moz-animation: arrow-animation 750ms ease-in-out infinite alternate;
  -webkit-animation: arrow-animation 750ms ease-in-out infinite alternate;
  -o-animation: arrow-animation 750ms ease-in-out infinite alternate;
}
.promo .intro-area {
  z-index: 10;
  position: relative;
  padding-top: 45px;
  text-align: right;
}
.promo .intro-area .title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 36px;
}
.promo .intro-area .intro {
  margin-bottom: 30px;
}
.promo .intro-area .video-container {
  position: relative;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0.1);
}
.promo .intro-area .video-container .play-trigger {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -16px;
}
.promo .intro-area .video-container .play-trigger .fa {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.8);
  width: 32px;
  height: 32px;
  display: inline-block;
  padding-top: 8px;
  padding-left: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo .intro-area .video-container .play-trigger:hover .fa {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.promo .intro-area .video-container .play-trigger:focus {
  outline: none;
}
.promo .download-area {
  padding-top: 45px;
  z-index: 10;
  position: relative;
}
.promo .download-area .download-buttons {
  margin-bottom: 30px;
}
.promo .download-area .download-buttons li {
  margin-bottom: 15px;
}
.promo .download-area .download-buttons a {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  width: 180px;
  text-align: left;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo .download-area .download-buttons a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}
.promo .download-area .summary {
  color: rgba(0, 0, 0, 0.4);
}
.promo .download-area .summary li {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 16px;
}
.promo .download-area .summary .fa {
  margin-right: 5px;
}
  .promo .download-area .summary a {
/*  color: rgba(0, 0, 0, 0.6);*/
      /*color: rgb(43, 31, 7);*/
          color: rgb(255, 255, 255);
}
.promo .download-area .summary a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.promo .iphone-holder .owl-theme .owl-controls {
  margin-top: 80px;
}
.promo .android-holder .owl-theme .owl-controls {
  margin-top: 120px;
}
/* ======= cta-section ======= */
.cta-section .title {
  padding-top: 60px;
  font-size: 28px;
  font-weight: 300;
  max-width: 680px;
  margin: 0 auto;
  line-height: 1.5;
}
.cta-section .press .press-inner {
  background: rgba(0, 0, 0, 0.1);
}
.cta-section .press .title {
  margin-bottom: 30px;
}
.cta-section .press .press-list {
  overflow: hidden;
  margin-bottom: 60px;
}
.cta-section .press .press-list li img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.cta-section .press .press-list li img:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.cta-section .download {
  margin-bottom: 60px;
}
.cta-section .download .title {
  margin-bottom: 60px;
}
.cta-section .download .download-list {
  margin-left: 0;
  margin-bottom: 60px;
}
.cta-section .download .btn {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.cta-section .download .btn .fa {
  margin-right: 10px;
  font-size: 20px;
}
.cta-section .download .qr-holder img {
  width: 150px;
  margin-bottom: 15px;
}
.cta-section .download .qr-holder .caption {
  font-size: 14px;
}
/* ======= Footer ======= */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #364b59;
  color: rgba(255, 255, 255, 0.6);
}
.footer a {
  color: rgba(255, 255, 255, 0.6);
}
.footer a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.footer .links {
  margin-left: 0;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;
}
.footer .links li {
  margin-right: 15px;
  margin-bottom: 15px;
}
.footer .links li.last {
  margin-right: 0;
}
.footer .links.legal-links {
  font-size: 13px;
  margin-left: 0;
}
.footer .links.legal-links li {
  margin-right: 0;
  padding: 0;
}
.footer .links.legal-links li:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
.footer .links.legal-links li.last:after {
  display: none;
}
.footer .social-icons {
  margin-left: 0;
  margin-bottom: 30px;
}
.footer .copyright {
  font-size: 13px;
  margin-bottom: 15px;
  display: block;
}
/* ======= article ======== */
.article {
  padding-top: 120px;
  padding-bottom: 90px;
}
.article .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.article .title + .intro {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* ======= About page ======== */
.about-section {
 /* background: rgba(0, 0, 0, 0.1);*/
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.about-section .subtitle {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 28px;
  font-weight: 300;
}
.about-section .content {
  margin-bottom: 30px;
}
.team-section {
  background: rgba(0, 0, 0, 0.1);
  padding: 60px;
  margin-bottom: 60px;
}
.team-section .subtitle {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 28px;
  font-weight: 300;
}
.team-section .member {
  text-align: center;
  margin-bottom: 30px;
}
.team-section .member .member-inner {
  position: relative;
}
.team-section .member .mask {
  position: absolute;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  display: block;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.team-section .member .mask .mask-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.team-section .member .mask span {
  display: block;
}
.team-section .member .mask span .pe-icon {
  margin-bottom: 5px;
}
.team-section .member:hover .mask {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.team-section .member .profile .info {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 5px;
}
.team-section .member .profile .name {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}
.team-section .member .profile .job-title {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}
/* ======= Press page ======== */
.press .title {
  margin-bottom: 30px;
}
.press .intro {
  margin-bottom: 60px;
}
.press .press-coverage-section {
  margin-bottom: 90px;
  background: rgba(0, 0, 0, 0.1);
}
.press .press-coverage-section .item-inner {
  color: #fff;
  padding: 60px 30px;
}
.press .press-coverage-section .item-inner img {
  margin: 0 auto;
  display: block;
  margin-bottom: 0;
}
.press .press-coverage-section .item-inner .mention {
  border-left: 0;
  padding: 0 15px;
  margin: 0;
  text-align: center;
  position: relative;
  font-style: italic;
}
.press .press-coverage-section .item-inner .mention .fa {
  text-align: center;
  left: -45px;
  top: 0;
  width: 32px;
  height: 32px;
  padding-top: 8px;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
  margin-bottom: 15px;
}
.press .press-release-section .section-inner {
  background: rgba(0, 0, 0, 0.1);
  padding: 60px;
  margin-bottom: 30px;
}
.press .press-release-section .section-inner .subtitle {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 28px;
  font-weight: 300;
}
.press .press-release-section .section-inner .btn {
  margin-bottom: 15px;
  margin-top: 15px;
}
.press .press-release-section .section-inner .doc-list {
  text-align: left;
}
.press .press-release-section .section-inner .doc-list li {
  padding-left: 22px;
  position: relative;
  margin-bottom: 15px;
}
.press .press-release-section .section-inner .doc-list li a {
  color: #fff;
}
.press .press-release-section .section-inner .doc-list li .fa {
  position: absolute;
  left: 0;
  top: 3px;
}
.press .press-release-section .section-inner .doc-list li .date {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.press .press-kit-section .section-inner {
  background: rgba(0, 0, 0, 0.1);
  padding: 60px;
  margin-bottom: 30px;
}
.press .press-kit-section .section-inner .subtitle {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 28px;
  font-weight: 300;
}
.press .press-kit-section .section-inner .btn {
  margin-bottom: 15px;
  margin-top: 15px;
}
.press .press-cta {
  padding-top: 60px;
  margin-bottom: 60px;
}
.press .press-cta .subtitle {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 28px;
  font-weight: 300;
}
.owl-theme .owl-controls .owl-page span {
  background: #fff;
}
.owl-theme .owl-controls {
  margin-bottom: 60px;
}
/* ======= Pricing page ======== */
.pricing .title {
  margin-bottom: 30px;
}
.pricing .intro {
  margin-bottom: 120px;
}
.pricing .pricing-section .item {
  margin-bottom: 60px;
}
.pricing .pricing-section .item-recommended {
  margin-top: -40px;
}
.pricing .pricing-section .item-recommended .item-inner {
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.pricing .pricing-section .item-recommended .item-inner .heading-mark {
  background: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  display: inline-block;
  padding: 8px 10px;
  color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
}
.pricing .pricing-section .item-recommended .item-inner .content {
  padding-bottom: 60px;
}
.pricing .pricing-section .item-inner {
  background: rgba(0, 0, 0, 0.1);
}
.pricing .pricing-section .item-inner .title {
  font-size: 22px;
  margin-bottom: 0;
  padding: 30px;
  text-transform: uppercase;
}
.pricing .pricing-section .item-inner .price-figure {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 0;
}
.pricing .pricing-section .item-inner .price-figure .currency {
  font-size: 36px;
  font-weight: 300;
}
.pricing .pricing-section .item-inner .price-figure .number {
  font-size: 46px;
}
.pricing .pricing-section .item-inner .price-figure .unit {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 13px;
}
.pricing .pricing-section .item-inner .price-figure .decimal {
  font-size: 18px;
  font-style: normal;
  vertical-align: super;
}
.pricing .pricing-section .item-inner .content {
  padding: 30px;
}
.pricing .pricing-section .item-inner .feature-list {
  text-align: left;
}
.pricing .pricing-section .item-inner .feature-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.pricing .pricing-section .item-inner .feature-list li.disabled {
  color: rgba(0, 0, 0, 0.1);
}
.pricing .pricing-section .item-inner .feature-list li .pe-icon {
  margin-right: 5px;
}
.pricing .pricing-section .item-inner .btn {
  margin-top: 15px;
}
/* ======= FAQs page ======== */
.faqs .title {
  margin-top: 0;
  margin-bottom: 30px;
}
.faqs .intro {
  margin-bottom: 30px;
}
.faqs .search-section {
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.faqs .search-section .form-group {
  position: relative;
  margin-bottom: 0;
}
.faqs .search-section .form-group .btn {
  position: absolute;
  right: 0;
  top: 1px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  height: 38px;
}
.faqs .faqs-section {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 60px;
  margin-bottom: 60px;
}
.faqs .faqs-section .subtitle {
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 300;
}
.faqs .panel {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.faqs .panel:last-child {
  margin-bottom: 0;
}
.faqs .panel .panel-heading {
  padding: 15px 30px;
}
.faqs .panel .panel-body {
  padding: 30px;
  padding-top: 0;
  color: #fff;
}
.faqs .panel .panel-title {
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
  font-size: 18px;
}
.faqs .panel .panel-title .active {
  color: #fff;
}
.faqs .panel .panel-title .panel-toggle {
  position: relative;
  padding-left: 40px;
}
.faqs .panel .panel-title .panel-toggle:hover {
  color: #fff;
}
.faqs .panel .panel-title .panel-toggle .pe-icon {
  margin-right: 10px;
  position: absolute;
  left: 0px;
  top: -2px;
  font-size: 28px;
}
.faqs .lead {
  margin-top: 30px;
}
.faqs .lead .subtitle {
  margin-top: 0;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 30px;
}
/* ======= FAQs tabs ======= */
.nav-tabs {
  border: none;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
  font-size: 16px;
}
.nav-tabs > li {
  margin-right: 30px;
  text-transform: uppercase;
}
.nav-tabs > li.last {
  margin-right: 0;
}
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  font-size: 14px;
  background: transparent;
  border: none;
}
.nav-tabs > li > a:hover {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.8);
}
.nav-tabs > li.active > a {
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  color: #fff;
}
/* ======= Jobs page ======== */
.jobs .promo-section {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 60px;
}
.jobs .promo-section .subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 28px;
}
.jobs .promo-section .intro {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 800px;
}
.jobs .promo-section .btn {
  margin-top: 30px;
  margin-bottom: 0;
}
.jobs .promo-section .figure img {
  margin: 0 auto;
  display: inline-block;
}
.jobs .jobs-section .subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 300;
}
.jobs .jobs-section .intro {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 800px;
}
.jobs .jobs-section .section-inner {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 60px;
}
.jobs .jobs-section .job-list-wrapper .item {
  margin-bottom: 30px;
}
.jobs .jobs-section .job-list-wrapper .item .item-inner {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.jobs .jobs-section .job-list-wrapper .item .meta li {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.jobs .jobs-section .job-list-wrapper .item .meta li:after {
  content: "\f111";
  padding-left: 10px;
  font: normal normal normal 5px/1 FontAwesome;
  position: relative;
  bottom: 3px;
}
.jobs .jobs-section .job-list-wrapper .item .meta li.last:after {
  display: none;
}
.jobs .jobs-section .job-list-wrapper .item .job-title {
  font-size: 22px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}
.jobs .jobs-section .job-list-wrapper .item .job-title a {
  color: #fff;
}
.jobs .owl-theme .owl-controls {
  margin-top: 60px;
  margin-bottom: 0;
}
.jobs .owl-carousel {
  position: relative;
}
.jobs .owl-carousel .video-container {
  max-width: 600px;
  margin: 0 auto;
}
.jobs .owl-carousel .owl-buttons {
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 50%;
  margin-top: -32px;
  text-align: center;
}
.jobs .owl-carousel .owl-buttons div {
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jobs .owl-carousel .owl-buttons .owl-prev {
  float: left;
  background: none;
}
.jobs .owl-carousel .owl-buttons .owl-prev:before {
  display: inline-block;
  content: "\e686";
  font-family: 'Pe-icon-7-stroke';
  font-size: 64px;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.1);
}
.jobs .owl-carousel .owl-buttons .owl-next {
  float: right;
  background: none;
}
.jobs .owl-carousel .owl-buttons .owl-next:before {
  display: inline-block;
  content: "\e684";
  font-family: 'Pe-icon-7-stroke';
  font-size: 64px;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.1);
}
/* ======= Job-single page ======== */
.job-single .header-wrapper .nav-link {
  margin-bottom: 30px;
  display: inline-block;
}
.job-single .title {
  margin-bottom: 15px;
}
.job-single .meta {
  margin-bottom: 60px;
}
.job-single .meta li {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.job-single .meta li:after {
  content: "\f111";
  padding-left: 10px;
  font: normal normal normal 5px/1 FontAwesome;
  position: relative;
  bottom: 3px;
}
.job-single .meta li.last:after {
  display: none;
}
.job-single .job-section .section-inner {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 60px;
}
.job-single .job-section .section-inner .job-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 32px;
}
.job-single .job-section .section-inner .content .subtitle {
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.job-single .job-section .section-inner .content li {
  margin-bottom: 5px;
}
.job-single .job-section .section-inner .content .cta-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* ======= Blog Home ======== */
.blog-list .item {
  margin-bottom: 60px;
}
.blog-list .item-inner {
  background: rgba(0, 0, 0, 0.1);
}
.blog-list .item-inner .figure-wrapper img {
  display: inline-block;
  margin: 0 auto;
}
.blog-list .item-inner .content-wrapper {
  padding: 30px 60px;
}
.blog-list .item-inner .content-wrapper .post-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 28px;
}
.blog-list .item-inner .content-wrapper .post-title a {
  color: #fff;
}
.blog-list .item-inner .content-wrapper .meta {
  position: relative;
  padding-left: 80px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin-bottom: 30px;
}
.blog-list .item-inner .content-wrapper .meta .author-profile {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
}
.blog-list .item-inner .content-wrapper .meta a {
  color: rgba(255, 255, 255, 0.6);
}
.blog-list .item-inner .content-wrapper .meta a:hover {
  color: #fff;
}
.blog-list .item-inner .content-wrapper .meta .meta-list {
  padding-top: 0px;
}
.pagination {
  margin-top: 30px;
}
.pagination li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
.pagination li a:hover {
  color: #fff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: rgba(255, 255, 255, 0.2);
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
}
/* ======= Blog single ======== */
.blog-post-wrapper .nav-link {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.blog-post-wrapper .title {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0;
}
.blog-post-wrapper .post-meta {
  margin-bottom: 60px;
}
.blog-post-wrapper .post-meta li {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.blog-post-wrapper .post-meta li a {
  color: #fff;
}
.blog-post-wrapper .post-meta li:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.blog-post-wrapper .post-meta li:after {
  content: "\f111";
  padding-left: 10px;
  font: normal normal normal 5px/1 FontAwesome;
  position: relative;
  bottom: 3px;
}
.blog-post-wrapper .post-meta li.last:after {
  display: none;
}
.blog-post-wrapper .post-wrapper {
  background: rgba(0, 0, 0, 0.1);
  padding: 60px;
}
.blog-post-wrapper .post-wrapper .post-figure {
  text-align: center;
  margin-bottom: 30px;
}
.blog-post-wrapper .post-wrapper .post-figure img {
  margin: 0 auto;
  display: block;
}
.blog-post-wrapper .post-wrapper ul {
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog-post-wrapper .post-wrapper .post-block {
  margin-top: 45px;
  margin-bottom: 45px;
}
.blog-post-wrapper .post-wrapper .custom-quote {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.blog-post-wrapper .post-wrapper .custom-quote .quote-box {
  background: rgba(0, 0, 0, 0.1);
  border-left: none;
  padding: 0;
  padding: 30px;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  font-style: italic;
}
.blog-post-wrapper .post-wrapper .custom-quote .quote-box:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -10px;
  margin-left: -10px;
  left: 50%;
}
.blog-post-wrapper .post-wrapper .custom-quote .fa {
  position: absolute;
  left: -30px;
  color: rgba(0, 0, 0, 0.3);
}
.blog-post-wrapper .post-wrapper .custom-quote .source {
  text-align: center;
  font-size: 18px;
}
.blog-post-wrapper .post-wrapper .post-nav {
  margin-bottom: 60px;
}
.blog-post-wrapper .post-wrapper .post-nav .nav-next {
  float: right;
}
.blog-post-wrapper .post-wrapper .post-nav .nav-next .fa {
  margin-left: 5px;
}
.blog-post-wrapper .post-wrapper .post-nav .nav-previous .fa {
  margin-right: 5px;
}
.blog-post-wrapper .post-wrapper .author-area {
  background: rgba(0, 0, 0, 0.1);
  padding: 30px;
  padding-left: 180px;
  position: relative;
}
.blog-post-wrapper .post-wrapper .author-area .author-profile {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 180px;
  text-align: center;
}
.blog-post-wrapper .post-wrapper .author-area .author-info .name {
  font-size: 20px;
  margin-top: 0;
}
.blog-post-wrapper .post-wrapper .author-area .author-info .job-title {
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.blog-post-wrapper .post-wrapper .author-area .author-info .social {
  font-size: 18px;
}
.blog-post-wrapper .post-wrapper .author-area .author-info .social .social-list {
  margin-bottom: 0;
  margin-top: 0;
}
.blog-post-wrapper .post-wrapper .comment-area {
  margin-top: 60px;
}
.blog-post-wrapper .post-wrapper .comment-area .title {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 30px;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container {
  margin-bottom: 60px;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item {
  margin-bottom: 60px;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-item-box {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  padding-left: 115px;
  margin-bottom: 15px;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-author {
  position: absolute;
  left: 30px;
  top: 30px;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-author img {
  width: 60px;
  height: 60px;
  border: 3px solid rgba(255, 255, 255, 0.9);
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-body .name {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-body .name a {
  color: #fff;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-body .time {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  margin-bottom: 15px;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-body .comment-reply-link {
  padding: 5px 10px;
  font-size: 13px;
  position: absolute;
  right: 30px;
  top: 30px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-body .comment-reply-link:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .children {
  padding-left: 30px;
}
.blog-post-wrapper .post-wrapper .comment-area .comment-form .error {
  color: #E65348;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  font-weight: 300;
}
.rrssb-buttons li {
  margin-bottom: 15px;
}
/* ======= Contact page ======== */
.contact-methods {
  background: rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-bottom: 0;
  margin-bottom: 60px;
}
.contact-methods .item .item-inner {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  margin-bottom: 30px;
}
.contact-methods .item .item-inner li {
  margin-bottom: 10px;
}
.contact-methods .item .item-inner li a {
  color: #fff;
}
.contact-methods .item .subtitle {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 28px;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.contact-methods .item .pe-icon {
  font-size: 36px;
  position: relative;
  top: 3px;
  margin-right: 10px;
  display: inline-block;
}
.form-section {
  margin-bottom: 60px;
}
.form-section .contact-form-inner {
  padding: 60px 60px;
  background: rgba(0, 0, 0, 0.1);
}
.form-section .contact-form-inner .subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 28px;
}
.form-section .contact-form-inner .reason-label {
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
  display: block;
}
.form-section .contact-form-inner .btn {
  margin-top: 15px;
}
.map-section {
  margin-bottom: 60px;
}
.map-section .subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 28px;
}
.map-section .address {
  margin-bottom: 30px;
}
.map-section .gmap-wrapper-inner {
  background: rgba(0, 0, 0, 0.1);
  padding: 60px;
  margin-bottom: 60px;
}
.map-section .gmap-box {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
}
.map-section .gmap-box-inner {
  position: relative;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
}
.map-section .gmap-box-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/* ======= 404 page ======== */
.page-404 .title-404 {
  font-size: 100px;
  font-weight: 300;
}
.page-404 .btn-back-home {
  margin-top: 30px;
}
.page-404 .article {
  min-height: 700px;
}
/* ======= Modal ======= */
.modal .modal-dialog {
  width: 720px;
  margin-top: 90px;
}
.modal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.modal .modal-header {
  border: none;
  padding: 0;
  position: relative;
}
.modal button.close {
  font-size: 36px;
  font-weight: 300;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background: none;
  position: absolute;
  right: 0px;
  bottom: 20px;
  z-index: 10;
}
.modal button.close:hover {
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.modal button.close:focus {
  outline: none;
}
.modal.modal-video .modal-body {
  padding: 0;
  padding-top: 0;
}
.modal.modal-video .modal-content {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal.modal-video button.close {
  right: 0px;
  bottom: 0px;
}
.modal.modal-member .modal-header {
  border: none;
}
.modal.modal-member .modal-body {
  padding: 30px;
}
.modal.modal-member .modal-body .figure {
  margin-bottom: 30px;
}
.modal.modal-member .modal-body .name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.modal.modal-member .modal-body .job-title {
  color: #999;
  margin-bottom: 15px;
}
.modal.modal-member .modal-body .social {
  margin-top: 30px;
}
.modal.modal-member .modal-body .social .fa {
  font-size: 20px;
}
.modal.modal-login .modal-dialog,
.modal.modal-signup .modal-dialog {
  width: 460px;
}
.modal.modal-login .modal-header,
.modal.modal-signup .modal-header {
  border: none;
}
.modal.modal-login .modal-body,
.modal.modal-signup .modal-body {
  padding: 30px;
}
.modal.modal-login .modal-body .title,
.modal.modal-signup .modal-body .title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
}
.modal.modal-login .modal-footer,
.modal.modal-signup .modal-footer {
  padding: 30px;
  background: #fff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}
.modal.modal-login .modal-footer p,
.modal.modal-signup .modal-footer p {
  color: #666;
  font-size: 14px;
  margin-bottom: 0;
}
.modal.modal-login .modal-footer a,
.modal.modal-signup .modal-footer a {
  color: #5d8098;
}
.modal.modal-login .modal-footer a:hover,
.modal.modal-signup .modal-footer a:hover {
  color: #4a6578;
}
.modal.modal-login .form-group,
.modal.modal-signup .form-group {
  position: relative;
}
.modal.modal-login .form-group.email:before,
.modal.modal-signup .form-group.email:before {
  content: "\f007";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999;
}
.modal.modal-login .form-group.password:before,
.modal.modal-signup .form-group.password:before {
  content: "\f023";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999;
}
.modal.modal-login .form-control,
.modal.modal-signup .form-control {
  font-size: 16px;
  padding-left: 30px;
  background: #fff;
  border-color: #eee;
  color: #666;
  font-size: 14px;
}
.modal.modal-login .form-control::-webkit-input-placeholder,
.modal.modal-signup .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
.modal.modal-login .form-control:-moz-placeholder,
.modal.modal-signup .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
.modal.modal-login .form-control::-moz-placeholder,
.modal.modal-signup .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
.modal.modal-login .form-control:-ms-input-placeholder,
.modal.modal-signup .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
.modal.modal-login .social-login,
.modal.modal-signup .social-login {
  margin-bottom: 15px;
}
.modal.modal-login .social-login ul,
.modal.modal-signup .social-login ul {
  margin-bottom: 30px;
}
.modal.modal-login .social-login li,
.modal.modal-signup .social-login li {
  margin-bottom: 15px;
}
.modal.modal-login .social-login li .btn,
.modal.modal-signup .social-login li .btn {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
}
.modal.modal-login .social-login li .btn:hover,
.modal.modal-signup .social-login li .btn:hover {
  color: #fff;
}
.modal.modal-login .social-login li .btn .fa,
.modal.modal-signup .social-login li .btn .fa {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.modal.modal-login .twitter-btn,
.modal.modal-signup .twitter-btn {
  background: #55acee;
}
.modal.modal-login .twitter-btn:hover,
.modal.modal-signup .twitter-btn:hover {
  background: #2795e9;
}
.modal.modal-login .facebook-btn,
.modal.modal-signup .facebook-btn {
  background: #3b5998;
}
.modal.modal-login .facebook-btn:hover,
.modal.modal-signup .facebook-btn:hover {
  background: #2d4373;
}
.modal.modal-login .google-btn,
.modal.modal-signup .google-btn {
  background: #dd4b39;
}
.modal.modal-login .google-btn:hover,
.modal.modal-signup .google-btn:hover {
  background: #c23321;
}
.modal.modal-login .forgot-password,
.modal.modal-signup .forgot-password {
  font-size: 13px;
  margin-top: 10px;
}
.modal.modal-login .forgot-password a,
.modal.modal-signup .forgot-password a {
  color: #999;
}
.modal.modal-login .forgot-password a:hover,
.modal.modal-signup .forgot-password a:hover {
  text-decoration: underline;
  color: #233039;
}
.modal.modal-login .divider,
.modal.modal-signup .divider {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  color: #999;
  text-transform: uppercase;
}
.modal.modal-login .divider span,
.modal.modal-signup .divider span {
  background: #fff;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  font-size: 14px;
}
.modal.modal-login .divider:before,
.modal.modal-signup .divider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  background: #e5e5e5;
  height: 1px;
  width: 100%;
}
.modal.modal-login .btn-submit,
.modal.modal-signup .btn-submit {
  background: #5d8098;
  color: #fff;
}
.modal.modal-login .btn-submit:hover,
.modal.modal-signup .btn-submit:hover,
.modal.modal-login .btn-submit:focus,
.modal.modal-signup .btn-submit:focus,
.modal.modal-login .btn-submit:active,
.modal.modal-signup .btn-submit:active {
  background: #4a6578;
  color: #fff;
}
.modal.modal-login .note,
.modal.modal-signup .note {
  color: #999;
  font-size: 13px;
  margin-bottom: 30px;
}
.modal.modal-login .btn + .note,
.modal.modal-signup .btn + .note {
  margin: 15px 0;
}
.modal.modal-login .remember label,
.modal.modal-signup .remember label {
  font-size: 14px;
  color: #666;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  #fp-nav {
    display: none;
  }
  .section {
    padding-top: 30px !important;
  }
  .section.promo {
    padding-top: 120px !important;
  }
  .cta-section .press .title {
    padding-top: 60px;
  }
  .cta-section .title {
    padding-top: 0;
  }
  .modal .modal-dialog {
    width: inherit;
  }
  .modal.modal-login .modal-dialog,
  .modal.modal-signup .modal-dialog {
    width: inherit;
  }
  .modal.modal-video button.close {
    bottom: 0;
    right: 0;
  }
  .header {
    background: rgba(0, 0, 0, 0.3);
  }
  .header .social-container {
    display: none;
  }
  .promo .intro-area {
    padding-top: 0;
  }
  .promo .intro-area {
    text-align: center;
  }
  .promo .download-area {
    text-align: center;
    margin-bottom: 30px;
  }
  .promo .download-area .download-buttons {
    display: inline-block;
    margin: 0 auto;
  }
  .promo .arrow-holder {
    display: none;
  }
  .promo .owl-theme .owl-controls {
    margin-top: 15px;
  }
  .device-holder {
    background-image: none !important;
    width: 240px;
    height: 480px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
  }
  .device-holder.iphone-holder .device-holder-inner {
    position: static;
    width: inherit;
    height: auto;
  }
  .device-holder.android-holder .device-holder-inner {
    position: static;
    width: inherit;
    height: auto;
  }
  .device-holder.iphone-holder.offset-top {
    top: 0;
  }
  .device-holder.android-holder.offset-top {
    top: 0;
  }
  .promo .iphone-holder .owl-theme .owl-controls {
    margin-top: 30px;
  }
  .section.has-pattern .section-inner:before {
    display: none;
  }
  .section.has-pattern .section-inner .container .content {
    padding-top: 0;
  }
  .cta-section {
    padding-top: 90px !important;
  }
  .cta-section .press .press-inner {
    background: none;
  }
  .qr-holder {
    display: none;
  }
  .team-section {
    padding: 30px;
  }
  .faqs .faqs-section {
    padding: 30px;
  }
  .faqs .panel .panel-heading {
    padding: 15px;
  }
  .faqs .panel .panel-title .panel-toggle .pe-icon {
    font-size: 20px;
    top: 0;
  }
  .faqs .panel .panel-title .panel-toggle {
    padding-left: 30px;
  }
  .faqs .panel .panel-title {
    font-size: 16px;
  }
  .nav-tabs {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .nav-tabs > li {
    margin-right: 0;
    margin-bottom: 10px;
    float: none;
  }
  .nav-tabs > li a {
    padding: 5px;
  }
  .press .press-release-section .section-inner {
    padding: 30px;
  }
  .pricing .pricing-section .item-recommended {
    margin-top: 0;
  }
  .jobs .jobs-section .section-inner {
    padding: 30px;
  }
  .job-single .job-section .section-inner {
    padding: 30px;
  }
  .jobs .owl-carousel .owl-buttons {
    display: none;
  }
  .blog-list .item-inner .content-wrapper {
    padding: 30px;
  }
  .blog-post-wrapper .post-meta li {
    margin-bottom: 5px;
  }
  .blog-post-wrapper .post-wrapper {
    padding: 30px;
  }
  .blog-post-wrapper .post-wrapper .author-area {
    padding-left: 30px;
    text-align: center;
  }
  .blog-post-wrapper .post-wrapper .author-area .author-profile {
    position: static;
    margin-bottom: 30px;
    width: auto;
  }
  .blog-post-wrapper .post-wrapper .author-area .author-profile img {
    margin: 0 auto;
  }
  .blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-body .comment-reply-link {
    position: static;
  }
  .blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-author {
    left: 15px;
    top: 15px;
  }
  .blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-author img {
    width: 36px;
    height: 36px;
  }
  .blog-post-wrapper .post-wrapper .comment-area .comment-container .comment-item .comment-item-box {
    padding: 15px;
    padding-left: 65px;
  }
  .form-section .contact-form-inner,
  .map-section .gmap-wrapper-inner {
    padding: 30px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    background: rgba(0, 0, 0, 0.3);
  }
  .promo .arrow-holder {
    top: -30px;
  }
  .promo .intro-area {
    text-align: center;
    margin-bottom: 90px;
  }
  .promo .device-holder.iphone-holder.offset-top {
    top: 0;
  }
  .promo .device-holder.android-holder.offset-top {
    top: 0;
  }
  .device-holder.iphone-holder .device-holder-inner {
    position: absolute;
    width: 261px;
    top: 64px;
    left: 41px;
  }
  .device-holder.android-holder .device-holder-inner {
    position: absolute;
    width: 267px;
    top: 52px;
    left: 39px;
  }
  .qr-holder {
    display: none;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    background: none;
  }
  .promo .intro-area {
    text-align: right;
    margin-bottom: 0;
  }
  .promo .arrow-holder {
    top: -30px;
  }
  .promo .device-holder.iphone-holder.offset-top {
    top: -30px;
  }
  .device-holder.iphone-holder .device-holder-inner {
    position: absolute;
    width: 223px;
    top: 54px;
    left: 35px;
  }
  .device-holder.android-holder .device-holder-inner {
    position: absolute;
    width: 227px;
    top: 45px;
    left: 33px;
  }
  .device-holder.iphone-holder.offset-top {
    top: -38px;
  }
  .device-holder.android-holder.offset-top {
    top: -38px;
  }
  .qr-holder {
    display: block;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .promo .download-area {
    padding-left: 15px;
  }
  .device-holder.iphone-holder .device-holder-inner {
    position: absolute;
    width: 274px;
    top: 67px;
    left: 42px;
  }
  .device-holder.android-holder .device-holder-inner {
    position: absolute;
    width: 278px;
    top: 54px;
    left: 40px;
  }
}


.gradient-8 {
    background-image: -webkit-linear-gradient(110deg, #1f407d 10%, #dc4040 90%), url(../images/background/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #1f407d 10%, #dc4040 90%), url(../images/background/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #1f407d 10%, #dc4040 90%), url(../images/background/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #1f407d 10%, #dc4040 90%), url(../images/background/diamond_upholstery.png);
    background-image: -ms-linear-gradient(left, #1f407d, #dc4040);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#38b6b8, endColorstr=#d155ff, GradientType=1);
    background-blend-mode: multiply;
    color: #fff;
}

.gradient-9 {
    background-image: -webkit-linear-gradient(110deg, #3b8a7f 10%, #8e3bc1  90%), url(../images/background/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #3b8a7f 10%, #8e3bc1  90%), url(../images/background/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #3b8a7f 10%, #8e3bc1  90%), url(../images/background/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #3b8a7f 10%, #8e3bc1  90%), url(../images/background/diamond_upholstery.png);
    background-image: -ms-linear-gradient(left, #3b8a7f, #8e3bc1 );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#38b6b8, endColorstr=#d155ff, GradientType=1);
    background-blend-mode: multiply;
    color: #fff;
}


.gradient-10 {
    background-image: -webkit-linear-gradient(110deg, #6160a9 10%, #05a261  90%), url(../images/background/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #6160a9 10%, #05a261  90%), url(../images/background/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #6160a9 10%, #05a261  90%), url(../images/background/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #6160a9 10%, #05a261  90%), url(../images/background/diamond_upholstery.png);
    background-image: -ms-linear-gradient(left, #6160a9, #05a261 );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#38b6b8, endColorstr=#d155ff, GradientType=1);
    background-blend-mode: multiply;
    color: #fff;
}


.gradient-11 {
    background-image: -webkit-linear-gradient(110deg, #dccf2e 10%, #a92323  90%), url(../images/background/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #dccf2e 10%, #a92323  90%), url(../images/background/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #dccf2e 10%, #a92323  90%), url(../images/background/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #dccf2e 10%, #a92323  90%), url(../images/background/diamond_upholstery.png);
    background-image: -ms-linear-gradient(left, #dccf2e, #a92323 );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#38b6b8, endColorstr=#d155ff, GradientType=1);
    background-blend-mode: multiply;
    color: #fff;
}


.video-wrapper {
  width: 100%;
  position: relative;
 /* padding-top: 56.25%;*/
 /* background-color: green;*/
}

.ic
{
  width:48px;
    height: auto;
}